@model Dictionary<string, dynamic>
@{
    Layout = null;

    MatrisAritmetik.Core.Models.Command cmd;
    MatrisAritmetik.Core.CommandMessage msg;
    MatrisAritmetik.Core.Models.Dataframe matoutput;

    string cmdstyle = ";"; string outstyle = ";";
    int MaxTolarableSize = Math.Min((int)MatrisAritmetik.Core.DataframeLimits.forCols * 12, (int)MatrisAritmetik.Core.DataframeLimits.forRows) / 2;
    MatrisAritmetik.Core.Services.IUtilityService<object> utilityService = new MatrisAritmetik.Services.UtilityService<object>();

    string lastmsg = VeriModel.LastMessageKey;
    string cmdhist = VeriModel.CommandHistoryKey;

    if (Model != null)
    {
        if (!Model.ContainsKey(cmdhist))
            Model.Add(cmdhist, new List<MatrisAritmetik.Core.Models.Command>());
        if (!Model.ContainsKey(lastmsg))
            Model.Add(lastmsg, new Core.CommandMessage("", Core.CommandState.IDLE));
    }

    string SettingString(Dictionary<string, string> set)
    {
        if (set.Count != 0)
        {
            System.Text.StringBuilder str = new System.Text.StringBuilder();
            foreach (string sty in set.Keys)
            {
                str.Append(sty); str.Append(":"); str.Append(set[sty]); str.Append(" !important;");
            }
            return str.ToString();
        }
        else
        {
            return ";";
        }
    }
}

@if (Model != null)
{
    msg = Model[lastmsg];

    @*Last message row*@
    if (msg.State == Core.CommandState.ERROR)
    {
        <tr>
            <td class="output_cmd_error">
                <span style="font-size:14px;font-weight:bolder"> [HATA]: @msg.Message</span>
            </td>
        </tr>
    }
    else if (msg.State == Core.CommandState.WARNING)
    {
        <tr>
            <td class="output_cmd_warning">
                <span style="font-size:14px;font-weight:bolder"> [UYARI]: @msg.Message</span>
            </td>
        </tr>
    }
    else if (msg.State == Core.CommandState.SUCCESS)
    {
        if (msg.Message != "")
        {
            <tr>
                <td class="output_cmd_info">
                    <span style="font-weight:bold"> @msg.Message</span>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td class="output_cmd_info">
                <span style="font-weight:bold"> Son bilgilendirme mesajı: Burada gösterilir</span>
            </td>
        </tr>
    }

    @*Command and Output history*@
    if (Model[cmdhist].Count == 0)
    {

        <tr class="cmdrepeat_df" title='Komut ek-bilgileri burada görüntülenir'>
            <td>
                <span class="command_start_df">>>></span> Komut geçmişi burada görüntülenir <span class="command_start_df">=</span>
            </td>
        </tr>

        <tr class="outputRow">
            <td class="cmdoutput_df">Çıktı geçmişi burada görüntülenir...</td>
        </tr>

    }
    else
    {
        @for (int i = Model[cmdhist].Count - 1; i >= 0; i--)
        {
            cmd = Model[cmdhist][i];

            @if (cmd.STATE == Core.CommandState.SUCCESS)
            {
                cmdstyle = SettingString(cmd.GetNameSettings());
                outstyle = SettingString(cmd.GetValsSettings());

                if (cmd.OriginalCommand.Contains("?"))
                {
                    <tr class="cmdrepeat_df cmdHelpCommandGiven_df" style='@cmdstyle' title='@cmd.CommandSummary()'>
                        <td style='@cmdstyle'>
                            <span class="cmdHelpStart">>>></span> @cmd.OriginalCommand <span class="cmdHelpStart">=</span>
                        </td>
                    </tr>


                    <tr class="outputRow" style='@outstyle' title='@cmd.CommandSummary()'>
                        <td class="cmdoutput_df compilerHelp" style='@outstyle'>@cmd.Output</td>
                    </tr>
                }
                else
                {
                    <tr class="cmdrepeat_df" style='@cmdstyle' title='@cmd.CommandSummary()'>
                        <td style='@cmdstyle'>
                            <span class="command_start_df">>>></span> @cmd.OriginalCommand <span class="command_start_df">=</span>
                        </td>
                    </tr>

                    if (cmd.GetValsSettings().ContainsKey("tex"))
                    {
                        try
                        {
                            matoutput = new MatrisAritmetik.Core.Models.Dataframe(utilityService.StringTo2DList((string)cmd.Output.ToString()));
                        }
                        catch (Exception)
                        {
                            matoutput = (new MatrisAritmetik.Core.Models.Dataframe(new List<List<dynamic>>()," ","\n",null,null,null,null));
                        }
                        if (matoutput.IsValid())
                        {
                            <tr class="outputRow" style='@outstyle' title='@cmd.CommandSummary()'>
                                <td style='@outstyle'>
                                    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                                        <mrow>
                                            <mo> ( </mo>
                                            <mtable>
                                                @if (matoutput.ElementCount > MaxTolarableSize)
                                                {
                                                    @foreach (var row in matoutput.CornerMatrix().GetValues())
                                                    {
                                                        <mtr>
                                                            @foreach (var val in row)
                                                            {
                                                                <mtd>
                                                                    <mn>@val</mn>
                                                                </mtd>
                                                            }
                                                        </mtr>
                                                    }
                                                }
                                                else
                                                {
                                                    @foreach (var row in matoutput.GetValues())
                                                    {
                                                        <mtr>
                                                            @foreach (var val in row)
                                                            {
                                                                <mtd>
                                                                    <mn>@val</mn>
                                                                </mtd>
                                                            }
                                                        </mtr>
                                                    }
                                                }
                                            </mtable>
                                            <mo> ) </mo>
                                        </mrow>
                                    </math>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="outputRow" style='@outstyle' title='@cmd.CommandSummary()'>
                                <td class="cmdoutput_df" style='@outstyle'>@cmd.Output</td>
                            </tr>
                        }
                    }
                    else
                    {

                        <tr class="outputRow" style='@outstyle' title='@cmd.CommandSummary()'>
                            <td class="cmdoutput_df" style='@outstyle'>@cmd.Output</td>
                        </tr>
                    }
                }
            }
            else if (cmd.STATE == Core.CommandState.ERROR)
            {
                <tr class="cmdrepeat_df" style="min-height:unset !important;" title='@cmd.CommandSummary()'>
                    <td class="commandError">
                        <span class="command_start_df">>>></span> @cmd.OriginalCommand
                    </td>
                </tr>
                <tr class="outputRow">
                    <td class="cmdoutput_df" style="white-space:unset !important;" title='@cmd.CommandSummary()'>
                        <span style="color:red;font-size:16px;font-weight:bolder">[HATA]</span> @cmd.GetStateMessage()
                    </td>
                </tr>
            }
        }
    }

    foreach (MatrisAritmetik.Core.Models.Command c in (List<MatrisAritmetik.Core.Models.Command>)Model[cmdhist])
    {
        c.Dispose();
    }
    ((List<MatrisAritmetik.Core.Models.Command>)Model[cmdhist]).Clear();

    ((MatrisAritmetik.Core.CommandMessage)Model[lastmsg]).Dispose();

    Model.Clear();
}
