@model Dictionary<string, Core.Models.MatrisBase<dynamic>>
@{
    Layout = null;
    string ConcatName(string prefix, string name) { return prefix + name; };
    int MaxTolarableSize = Math.Min((int)MatrisAritmetik.Core.MatrisLimits.forCols, (int)MatrisAritmetik.Core.MatrisLimits.forRows);
    //var tkn = ViewData["tkn"];
    var headclass = ViewData["headcls"]; //"matris_table matris_table_head" or "df_matris_table df_matris_table_head"
    var headtdclass = ViewData["headtdcls"]; // "saved_mattable_title" or "df_saved_mattable_title"
    var bodyclass = ViewData["bodyclass"]; // "matris_table" or "df_matris_table"
    var headparentclass = bodyclass + "_head";
}

@if (Model != null)
{
    @if (Model.Count() != 0)
    {
        <thead id='@headparentclass' class='@headclass'>
            <tr>
                <td colspan="19" class='@headtdclass'>Kayıtlı Matrisler (@(Model.Count()))</td>
            </tr>
        </thead>
    }
    @* Ekli matrislerin satırları partial *@
    @foreach (var name in Model.Keys)
    {
        <tbody id="matris_table" class='@bodyclass'>
            <tr id='@ConcatName("matris_table_",name)'>
                @*Name*@
                <td colspan="3">
                    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                        <mi>@name</mi>
                    </math>
                </td>

                <td colspan="1">
                    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                        <mo>=</mo>
                    </math>
                </td>

                @*Values*@
                <td colspan="11">
                    <div id='@ConcatName("matris_vals_",name)' style="max-height:200px;overflow-y:auto;">
                        <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                            <mrow>
                                <mo> ( </mo>
                                <mtable>
                                    @if (Model[name].ElementCount > MaxTolarableSize)
                                    {
                                        @foreach (var row in Model[name].CornerMatrix().GetValues())
                                        {
                                            <mtr>
                                                @foreach (var val in row)
                                                {
                                                    <mtd>
                                                        <mn>@val</mn>
                                                    </mtd>
                                                }
                                            </mtr>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var row in Model[name].GetValues())
                                        {
                                            <mtr>
                                                @foreach (var val in row)
                                                {
                                                    <mtd>
                                                        <mn>@val</mn>
                                                    </mtd>
                                                }
                                            </mtr>
                                        }
                                    }
                                </mtable>
                                <mo> ) </mo>
                            </mrow>
                        </math>
                    </div>
                </td>

                @*Buttons*@
                @*
                    <td colspan="2" align="center">
                        <input id='@ConcatName("matris_islem_",name)' type="button" class="button" value="İşlemler" name="matris_kayitli_islem_button" data-toggle="tooltip" data-placement="right" title='@ConcatName(name," adlı matrise özel işlemler")' />
                    </td>
                *@
                
                <td colspan="2">
                    <a title="Text olarak kaydet" class="btn" href='@ConcatName("data:text/plain;charset=utf-8,",Model[name].ToString())' download='@name'>
                        <img src="./images/download.png">
                    </a>
                </td>
                <td colspan="2" align="center">
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <button name="matris_table_delbutton" id='@ConcatName("matris_table_delbutton_",name)' class="btn btn-warning btn-sm matdelbtn" type="button" data-toggle="tooltip" data-placement="right" title='@ConcatName(name," adlı matrisi sil")'>
                                <i class="fa fa-trash"></i>
                            </button>
                        </li>
                    </ul>
                </td>

            </tr>
        </tbody>
    }

    foreach (MatrisAritmetik.Core.Models.MatrisBase<dynamic> m in Model.Values)
    {
        m.Dispose();
    }

    Model.Clear();
}
