@model Dictionary<string, dynamic>
@{
    Layout = null;
    MatrisAritmetik.Core.Models.Command cmd;
    MatrisAritmetik.Core.CommandMessage msg;
    MatrisAritmetik.Core.MatrisBase<string> matoutput;
    string style = ";"; int MaxTolarableSize = 100;

    MatrisAritmetik.Core.Services.IUtilityService<string> utilityService = new MatrisAritmetik.Services.UtilityService<string>();

    if (Model != null)
    {
        if (!Model.ContainsKey("CommandHistory"))
            Model.Add("CommandHistory", new List<MatrisAritmetik.Core.Models.Command>());
        if (!Model.ContainsKey("LastMessage"))
            Model.Add("LastMessage", new Core.CommandMessage("", Core.CommandState.IDLE));
    }
}

@if (Model != null)
{
    msg = Model["LastMessage"];
    if (msg.State == Core.CommandState.ERROR)
    {
        <tr>
            <td class="output_cmd_error">
                <span style="font-size:14px;font-weight:bolder"> [HATA]: @msg.Message</span>
            </td>
        </tr>
    }
    else if (msg.State == Core.CommandState.WARNING)
    {
        <tr>
            <td class="output_cmd_warning">
                <span style="font-size:14px;font-weight:bolder"> [UYARI]: @msg.Message</span>
            </td>
        </tr>
    }
    else if (msg.State == Core.CommandState.SUCCESS)
    {
        <tr>
            <td class="output_cmd_info">
                <span style="font-weight:bold"> @msg.Message</span>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td class="output_cmd_info">
                <span style="font-weight:bold"> Son bilgilendirme mesajı: Burada gösterilir</span>
            </td>
        </tr>
    }

    if (Model["CommandHistory"].Count == 0)
    {

        <tr class="cmdrepeat" title='Komut ek-bilgileri burada görüntülenir'>
            <td>
                <span class="command_start">>>></span> Komut geçmişi burada görüntülenir <span class="command_start">=</span>
            </td>
        </tr>

        <tr class="outputRow">
            <td class="cmdoutput">Çıktı geçmişi burada görüntülenir...</td>
        </tr>

    }
    else
    {
        @for (int i = Model["CommandHistory"].Count - 1; i >= 0; i--)
        {
            cmd = Model["CommandHistory"][i];

            @if (cmd.STATE == Core.CommandState.SUCCESS)
            {
                if (cmd.OriginalCommand.Contains("?"))
                {
                    <tr class="cmdrepeat cmdHelpCommandGiven" title='@cmd.CommandSummary()'>
                        <td>
                            <span class="cmdHelpStart">>>></span> @cmd.OriginalCommand <span class="cmdHelpStart">=</span>
                        </td>
                    </tr>

                    <tr class="outputRow">
                        <td class="cmdoutput compilerHelp">@cmd.Output</td>
                    </tr>
                }
                else
                {
                    style = "";
                    if (cmd.NameSettings.Count != 0)
                    {
                        @foreach (string sty in cmd.NameSettings.Keys)
                        {
                            style += sty + ":" + cmd.NameSettings[sty] + ";";
                        }
                    }
                    <tr class="cmdrepeat" style='@style' title='@cmd.CommandSummary()'>
                        <td>
                            <span class="command_start">>>></span> @cmd.OriginalCommand <span class="command_start">=</span>
                        </td>
                    </tr>

                    style = "";
                    if (cmd.ValsSettings.Count != 0)
                    {
                        @foreach (string sty in cmd.ValsSettings.Keys)
                        {
                            style += sty + ":" + cmd.ValsSettings[sty] + ";";
                        }
                    }

                    if (cmd.ValsSettings.ContainsKey("tex"))
                    {
                        try 
                        { 
                            matoutput = new MatrisAritmetik.Core.MatrisBase<string>(utilityService.StringTo2DList((string)cmd.Output.ToString()));
                        } 
                        catch (Exception err) 
                        { 
                            matoutput = new MatrisAritmetik.Core.MatrisBase<string>(0, 0, ""); 
                        }
                        if (matoutput.IsValid())
                        {
                            <tr class="outputRow" style='@style'>
                                <td>
                                    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                                        <mrow>
                                            <mo> ( </mo>
                                            <mtable>
                                                @if (matoutput.ElementCount() > MaxTolarableSize)
                                                {
                                                    @foreach (var row in matoutput.CornerMatrix().Values)
                                                    {
                                                        <mtr>
                                                            @foreach (var val in row)
                                                            {
                                                                <mtd>
                                                                    <mn>@val</mn>
                                                                </mtd>
                                                            }
                                                        </mtr>
                                                    }
                                                }
                                                else
                                                {
                                                    @foreach (var row in matoutput.Values)
                                                    {
                                                        <mtr>
                                                            @foreach (var val in row)
                                                            {
                                                                <mtd>
                                                                    <mn>@val</mn>
                                                                </mtd>
                                                            }
                                                        </mtr>
                                                    }
                                                }
                                            </mtable>
                                            <mo> ) </mo>
                                        </mrow>
                                    </math>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="outputRow" style='@style'>
                                <td class="cmdoutput">@cmd.Output</td>
                            </tr>
                        }
                    }
                    else
                    {

                        <tr class="outputRow" style='@style'>
                            <td class="cmdoutput">@cmd.Output</td>
                        </tr>
                    }
                }
            }
            else if (cmd.STATE == Core.CommandState.ERROR)
            {
                <tr class="cmdrepeat" style="min-height:unset !important;" title='@cmd.CommandSummary()'>
                    <td class="commandError">
                        <span class="command_start">>>></span> @cmd.OriginalCommand
                    </td>
                </tr>
                <tr class="outputRow">
                    <td class="cmdoutput" style="white-space:unset !important;">
                        <span style="color:red;font-size:16px;font-weight:bolder">[HATA]</span> @cmd.STATE_MESSAGE
                    </td>
                </tr>
            }
        }
    }
}
