@model Dictionary<string, Core.Models.Dataframe>
@{
    Layout = null;
    string ConcatName(string prefix, string name) { return prefix + name; };
    int MaxTolarableSize = Math.Min((int)MatrisAritmetik.Core.DataframeLimits.forCols * 10, (int)MatrisAritmetik.Core.DataframeLimits.forRows) / 2;
    //var tkn = ViewData["tkn"];

}

@if (Model != null)
{
    @if (Model.Count() != 0)
    {
        <thead id="veri_table_head" class="veri_table veri_table_head">
            <tr>
                <td colspan="18" class="df_saved_dftable_title">Kayıtlı Veri Tabloları (@(Model.Count()))</td>
            </tr>
        </thead>
    }
    @foreach (var name in Model.Keys)
    {
        <tbody id="veri_table" class="veri_table">

            <tr id='@ConcatName("veri_table_",name)'>
                @*Name*@
                <td colspan="3">
                    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                        <mi>@name</mi>
                    </math>
                </td>

                <td colspan="1">
                    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                        <mo>=</mo>
                    </math>
                </td>

                @*Values*@
                <td colspan="11">
                    <div id='@ConcatName("veri_vals_",name)' style="max-height:200px;overflow-y:auto;">
                        <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                            <mrow>
                                <mo> ( </mo>
                                <mtable>
                                    @if (Model[name].ElementCount > MaxTolarableSize)
                                    {
                                        @foreach (var row in Model[name].CornerMatrix().GetValues())
                                        {
                                            <mtr>
                                                @foreach (var val in row)
                                                {
                                                    <mtd>
                                                        <mn>@val</mn>
                                                    </mtd>
                                                }
                                            </mtr>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var row in Model[name].GetValues())
                                        {
                                            <mtr>
                                                @foreach (var val in row)
                                                {
                                                    <mtd>
                                                        <mn>@val</mn>
                                                    </mtd>
                                                }
                                            </mtr>
                                        }
                                    }
                                </mtable>
                                <mo> ) </mo>
                            </mrow>
                        </math>
                    </div>
                </td>

                @*Buttons*@
                @*
                    <td colspan="2" align="center">
                        <input id='@ConcatName("veri_islem_",name)' type="button" class="button" value="İşlemler" name="veri_kayitli_islem_button" data-toggle="tooltip" data-placement="right" title='@ConcatName(name," adlı verie özel işlemler")' />
                    </td>
                *@
                <td colspan="3" align="center">
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <button name="veri_table_delbutton" id='@ConcatName("veri_table_delbutton_",name)' class="btn btn-warning btn-sm dfdelbtn" type="button" data-toggle="tooltip" data-placement="right" title='@ConcatName(name," adlı verii sil")'>
                                <i class="fa fa-trash"></i>
                            </button>
                        </li>
                    </ul>
                </td>

            </tr>
        </tbody>
    }

    foreach (MatrisAritmetik.Core.Models.Dataframe m in Model.Values)
    {
        m.Dispose();
    }

    Model.Clear();
}
